[submodule "themes"]
	path = themes
	url = https://github.com/reidchatham/www.reidchatham.com-themes
[submodule "plugins"]
	path = plugins
	url = https://github.com/reidchatham/wwww.reidchatham.com-plugins
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/reidchatham/www.reidchatham.com.git
